### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
!**/target/
!**/.idea/
/target/
/.idea/
/pom.xml
/manageRx.iml


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/target/
/.idea/
.idea/workspace.xml
data/drugs/errors.txt
manageRx.iml
target/classes/META-INF/maven/FiNAL/manageRx/pom.properties
data/drugs/errors.txt
.idea/workspace.xml
.idea/workspace.xml
data/drugs/errors.txt
target/classes/META-INF/maven/FiNAL/manageRx/pom.properties
pom.xml
/.idea/
/target/
